.form__elem {
  display: flex;
}

.form__column {
  flex: 1;
  margin-right: rem(20px);

  @include tablets {
    flex-direction: column;
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
  display: block;
  margin-bottom: rem(20px);

  @include tablets {
    width: 100%;
    margin-right: 0;
    padding: 0 20%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  background: #fff;
  border-radius: rem(3px);
  border: none;
  padding: rem(8px) rem(21px);
  width: 100%;

  &--textarea {
    resize: none;
    height: rem(110px);
    margin-bottom: rem(20px);
  }
}

.form-buttons-radio, .form-buttons-checkbox {
  display: flex;
}

.radio {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  margin-left: rem(20px);
  cursor: pointer;
  margin-bottom: rem(30px);
}

.radio-elem {
  position: absolute;
  top: rem(5px);
  left: rem(-20px);
}
