.hero {
  background: url('../../img/bg/hero.jpg') center center / cover no-repeat;
  position: relative;
}

.hero__container {
  height: 100%;
}

.hero__content {
  display: flex;
  align-items: center;
  flex: .8;
  
  @include tablets {
    flex-direction: column;
    padding: 0 23%;
  }
}

.hero__content-picture,
.hero__desc {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.hero__desc {
  padding-top: rem(px);
  margin-left: rem(20px);
}

.hero__subtitle {
  font-size: 65px;
  color: #fff;
  line-height: 1;
  @include lifehack;
}
