.team-accordeon {
  @include tablets {
    text-align: center;

  }
}

.team-accordeon__item {
  margin-bottom: rem(40px);
  
  &:last-child {
    margin-bottom: 0;
  }
  
  &.active {
    .team-accordeon__touch {
      color: $yellow;

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}

.team-accordeon__touch {
  font-size: rem(14px);
  @include gagalin;
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: rem(20px);
  border-radius: rem(9px);
  
  @include tablets {
    display: inline-flex;
  }
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: rem(-20px);
    top: rem(9px);
    // height: 0;
    // width: 0;
  }

  &:after {
    border-top: rem(7px) solid $yellow;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(0px) solid transparent;
    transform: rotate(0deg);
  }
  
  &:before {
    display: none;
    border-top: rem(0px) solid transparent;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(7px) solid $yellow;
  }
}

.team-accordeon__desc {
  display: flex;
  max-height: rem(0px);
  overflow: hidden;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &_expanded {
    max-height: rem(1000px);
  }
}

// .team-accordeon__img {

// }

.team-accordeon__pic {
  display: block;
  background: url('../../img/team/daniel.jpg') center center no-repeat;
  border-radius: 50%;
  width: rem(100px);
  height: rem(100px);
  // width: 28%;
}

.team-accordeon__text {
  font-size: rem(13px);
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-left: rem(32px);
  @include ubuntu;
  width: rem(250px);

  @include tablets {
    margin-top: rem(25px);
    margin-left: 0;
  }
}

.team-accordeon__role {
  font-weight: bold;
  margin-bottom: rem(20px);
}

.team-accordeon__description {
  line-height: 1.90;
}