.footer {
  display: flex;
  background: url('./img/bg/footer.jpg') center bottom / cover no-repeat;
  // position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: rem(16px) 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
}

.column__addres {
  color: #fff;
}

.phone {
  text-decoration: none;
  color: $red;
}

.social {
  display: flex;
}

.social__item {
  margin-left: rem(16px);

  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  display: flex;
  // height: rem(120px);
}

.social__logo {
  width: 35px;
  height: 35px;
}
