.slider__carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.slider__left-img {
  background: center center / cover no-repeat;
  height: 100%;
}

.slider__content-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.slider__content-list {
  display: flex;
  transition: all .7s ease-in-out;
}

.slider__content-item {
  // width: 100%;
  width: rem(925px);
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  position: relative;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.wrap__slider--btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.btn__structure {
  top: 0;
  // margin-top: -50px;
}

.btn__kkal {
  bottom: 0;
  margin-bottom: -50px;
}

.slider__content-pic,
.slider__content-desc {
  width: 50%;
  // float: left;

  @include tablets {
    float: none;
    text-align: center;
  }
}

.slider__content-pic {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.slider__icon {
  width: 100%;
  height: auto;
}

.slider__content-text {
  margin-bottom: rem(36px);
  color: #fff;
  font-size: rem(14px);
}

.slider__content-price {
  display: flex;
  align-items: center;
}

.title__price-burger {
  font-size: rem(29px);
  @include gagalin;
  color: $red;
  text-transform: lowercase;
  margin-right: rem(30px);
}

.title__price-burger span {
  font-size: rem(71px);
}

.slider__right-img {
  background: center center / cover no-repeat;
  height: 100%;
}
