.slider__carousel {
  display: flex;
  align-items: center;
  position: relative;
}

.slider__left-img {
  background: center center / cover no-repeat;
  height: 100%;
}

.slider__content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider__content-list {
  display: flex;
}

.slider__content-item {
  width: 100%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  @include phones {
    flex-direction: column;
    align-items: center;
  }
}

.slider__content-pic,
.slider__content-desc {
  width: 50%;
  float: left;

  @include tablets {
    float: none;
    text-align: center;
  }
}

.slider__icon {
  width: 100%;
  height: auto;
}

.slider__content-text {
  margin-bottom: rem(36px);
  color: #fff;
  font-size: rem(14px);
}

.slider__content-price {
  display: flex;
}

.title__price-burger {
  font-size: rem(42px);
  @include gagalin;
  color: $red;
  text-transform: lowercase;
  margin-right: rem(30px);
}

.slider__right-img {
  background: center center / cover no-repeat;
  height: 100%;
}
