// @font-face {
//   font-family: 'ubunto';
//   src: url('../_misc/fonts/Ubuntu/Ubuntu-B.ttf');
//   src: url('../_misc/fonts/Ubuntu/Ubuntu-Light.ttf');
//   src: url('../_misc/fonts/Ubuntu/Ubuntu-Medium.ttf');
//   src: url('../_misc/fonts/Ubuntu/Ubuntu-Regular.ttf');
//   font-weight: 500;
//   font-style: normal;
//   font-stretch: normal;
// }

@font-face {
	font-family: 'Gagalin-Regular';
	src: url('../_misc/fonts/Gagalin-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifehack-Medium';
	src: url('../_misc/fonts/Lifehack-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../_misc/fonts/Ubuntu-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../_misc/fonts/Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../_misc/fonts/ubuntu-b-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@mixin gagalin() {
	font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}

@mixin lifehack() {
	font-family: 'Lifehack-Medium';
}