@font-face {
  font-family: 'ubunto';
  src: url("../_misc/fonts/Ubuntu/Ubuntu-B.ttf");
  src: url("../_misc/fonts/Ubuntu/Ubuntu-Light.ttf");
  src: url("../_misc/fonts/Ubuntu/Ubuntu-Medium.ttf");
  src: url("../_misc/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }
